<main class="d-flex justify-content-center align-items-center">
  <div class="container">
    <app-generic-card headerTitle="Iniciar sesión" >
      <!-- FORMULARIO -->
      <form [formGroup]="loginForm">
        <div>
          <mat-form-field class="w-100">
            <mat-label>Email</mat-label>
            <input formControlName="email" matInput type="email" />
            <mat-error>
              {{ loginForm.get("email")?.errors | formErrors }}
            </mat-error>
          </mat-form-field>
          <mat-form-field class="w-100">
            <mat-label>Password</mat-label>
            <input formControlName="password" matInput type="password" />
            <mat-error>
              {{ loginForm.get("password")?.errors | formErrors }}
            </mat-error>
          </mat-form-field>
        </div>

        <!-- IR Al REGISTRO -->
        <button mat-button color="primary" (click)="goToRegister()">No tengo cuenta</button>

        <!-- BOTON DE INICIAR -->
        <app-button class="d-flex justify-content-center "
          (onButtonClick)="login()"
          buttonContent="Iniciar sesión"
        ></app-button>
      </form>
    </app-generic-card>
  </div>
</main>
