<main class="d-flex justify-content-center align-items-center">
  <div class="container">
    <app-generic-card headerTitle="Registrarme">
      <!-- FORMULARIO -->
      <form [formGroup]="registerForm">
        <div class="row">
          <mat-form-field class="col-6">
            <mat-label>Nombre</mat-label>
            <input formControlName="name" matInput type="text" />
            <mat-error>
              {{ registerForm.get("name")?.errors | formErrors }}
            </mat-error>
          </mat-form-field>
          <mat-form-field class="col-6">
            <mat-label>Apellido</mat-label>
            <input formControlName="surname" matInput type="text" />
            <mat-error>
              {{ registerForm.get("surname")?.errors | formErrors }}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="col-6">
            <mat-label>Documento</mat-label>
            <input formControlName="docNumber" matInput type="text" />
            <mat-error>
              {{ registerForm.get("docNumber")?.errors | formErrors }}
            </mat-error>
          </mat-form-field>
          <mat-form-field class="col-6">
            <mat-label>Email</mat-label>
            <input formControlName="email" matInput type="email" />
            <mat-error>
              {{ registerForm.get("email")?.errors | formErrors }}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="col-8">
            <mat-label>Password</mat-label>
            <input formControlName="password" matInput type="password" />
            <mat-error>
              {{ registerForm.get("password")?.errors | formErrors }}
            </mat-error>
          </mat-form-field>
          <mat-form-field class="col-8">
            <mat-label>Repetir password</mat-label>
            <input formControlName="repeatPassword" matInput type="password" />
            <mat-error>
              {{ registerForm.get("repeatPassword")?.errors | formErrors }}
            </mat-error>
          </mat-form-field>
        </div>

        <!-- IR Al LOGIN -->
        <button mat-button color="primary" (click)="goToLogin()">
          Ya tengo cuenta
        </button>

        <!-- BOTON DE INICIAR -->
        <app-button
          class="d-flex justify-content-center"
          (onButtonClick)="register()"
          buttonContent="Registrarme"
        ></app-button>
      </form>
    </app-generic-card>
  </div>
</main>
