<mat-toolbar color="primary">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
    (click)="toggleSidenav.emit()"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>PF-Frigo</span>
  <span class="example-spacer"></span>

  <div class="row" *ngIf="loggedUser$ | async">
    <div class="col-1">
      <mat-icon
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="person"
      ></mat-icon>
    </div>
    <div class="col person-name">
      <span>{{loggedUser$ | async | fullname | titlecase }}</span>
    </div>
  </div>
</mat-toolbar>
