<div class="container pt-3">
  <div class="row">
    <div class="col-6">
      <h1>Detalle del usuario</h1>
      <app-generic-card>
        <form [formGroup]="userForm">
          <mat-form-field class="w-100">
            <mat-label>Nombre</mat-label>
            <input formControlName="name" matInput readonly="true" />
          </mat-form-field>

          <mat-form-field class="w-100">
            <mat-label>Apellido</mat-label>
            <input formControlName="surname" matInput readonly="true" />
          </mat-form-field>

          <mat-form-field class="w-100">
            <mat-label>N° Documento</mat-label>
            <input formControlName="docNumber" matInput readonly="true" />
          </mat-form-field>

          <mat-form-field class="w-100">
            <mat-label>Email</mat-label>
            <input formControlName="email" matInput readonly="true" />
          </mat-form-field>

          <mat-form-field class="w-100">
            <mat-label>Rol</mat-label>
            <input formControlName="rol" matInput readonly="true" />
          </mat-form-field>
        </form>
        <app-button
        (onButtonClick)="onGoBack()"
        buttonColor="accent"
        buttonContent="Volver"
      ></app-button>
      </app-generic-card>
    </div>
    <div class="col-6">
      <h1>Cursos inscripto</h1>
      <app-generic-card>
        <mat-list>
          <mat-list-item *ngFor="let course of courses">
            <span matListItemTitle class="course-title">{{ course.name }}</span>
            <span matListItemLine class="course-class">Clases:</span>
            <span
              class="course-item"
              matListItemLine
              *ngFor="let item of course.classes"
              >{{ item.name }}</span
            >
          </mat-list-item>
        </mat-list>
      </app-generic-card>
    </div>
  </div>
</div>
